config.guess
config.sub
config.h*
compile
depcomp
install-sh
missing
ltmain.sh
libtool
Makefile
Makefile.in
configure
aclocal.m4
autom4te.cache
m4
.deps
*.la
*.lo
*.o
*.slo
.libs
*.log
config.status
stamp-h1
fido2-useradd
debian/*-stamp
debian/*.before
debian/*.after
debian/*.debhelper
debian/*.substvars
debian/files
debian/libapache2-mod-authnz-fido2
